<!DOCTYPE html>
<html>
<head>
    <title>Smart Expense Tracker</title>
</head>

<body>

    <h1>💰 Smart Expense Tracker</h1>

    <p>Track your expenses easily.</p>

    <h2>Add Expense</h2>

    <form>
        <label>Expense Name:</label>
        <input type="text" placeholder="e.g. Lunch">

        <br><br>

        <label>Amount:</label>
        <input type="number" placeholder="e.g. 250">

        <br><br>

        <label>Category:</label>
        <select>
            <option>Food</option>
            <option>Travel</option>
            <option>Shopping</option>
            <option>Education</option>
            <option>Other</option>
        </select>

        <br><br>

        <button type="submit">Add Expense</button>
    </form>

</body>
</html>
